<p id="notice"><%= notice %></p>

<h1>Diarias</h1>

<table>
  <thead>
    <tr>
      <th>Orgao superior</th>
      <th>Orgao</th>
      <th>Unidade gestora</th>
      <th>Favorecido</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diarias.each do |diaria| %>
      <tr>
        <td><%= diaria.orgao_superior %></td>
        <td><%= diaria.orgao %></td>
        <td><%= diaria.unidade_gestora %></td>
        <td><%= diaria.favorecido %></td>
        <td><%= diaria.valor %></td>
        <td><%= link_to 'Show', diaria %></td>
        <td><%= link_to 'Edit', edit_diaria_path(diaria) %></td>
        <td><%= link_to 'Destroy', diaria, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diaria', new_diaria_path %>
