<p id="notice"><%= notice %></p>

<p>
  <strong>Orgao superior:</strong>
  <%= @diaria.orgao_superior %>
</p>

<p>
  <strong>Orgao:</strong>
  <%= @diaria.orgao %>
</p>

<p>
  <strong>Unidade gestora:</strong>
  <%= @diaria.unidade_gestora %>
</p>

<p>
  <strong>Favorecido:</strong>
  <%= @diaria.favorecido %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @diaria.valor %>
</p>

<%= link_to 'Edit', edit_diaria_path(@diaria) %> |
<%= link_to 'Back', diarias_path %>
